---
layout: page
---

{% assign trabalhos = paginator.trabalhos | default: site.trabalhos %}

<div class="posts-list">
  {% for post in trabalhos %}
  <article class="post-preview">
    <div {% if post.carousel == "yes" %}class="carousel-container"{% endif %}>
      {% for figura in post.figuras %}
        {% if post.carousel == "yes" %}<div class="carousel-slide">{% endif %}
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ figura | absolute_url }}" alt="Post thumbnail" class="portif-image">
        </a>
        {% if post.carousel == "yes" %}<div>{% endif %}
      {% endfor %}
    </div>
      <p class="portif-text">{{ post.frase-capa }}
      </p>
   </article>
  {% endfor %}
</div>

{{ content }}

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
