---
layout: page
---

{% assign trabalhos = paginator.trabalhos | default: site.trabalhos %}

<div class="posts-list">
  {% for post in trabalhos %}
  <article class="post-preview">
    <p class="portif-text">{{ post.frase-capa }}</p>
    <div {% if post.carousel %}class="carousel-container"{% endif %}>
      {% for figura in post.figuras %}
        {% if post.carousel %}<div class="carousel-slide">{% endif %}
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
        <img src="{{ figura | absolute_url }}" alt="Post thumbnail" class="portif-image" {% if post.carousel %}style="max-width: 100vh"{% endif %}>
        </a>
        {% if post.carousel %}</div>{% endif %}
      {% endfor %}
      {% for video in post.videos %}
        {% if post.carousel %}<div class="carousel-slide">{% endif %}
        <video controls src="{{ video | absolute_url }}" class="portif-image" style="{% if post.carousel %}max-width: 100vh{% elsif %}width:100% {% endif %};">seu navegador nao suporta video</video>
        {% if post.carousel %}</div>{% endif %}
      {% endfor %}
    </div>
   </article>
  {% endfor %}
</div>

{{ content }}

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
